h1 {
  color: white;
  background-color: black;
}

/* Event Menus */

.dropdown-menu {
  height: 200px;
  overflow-y: scroll;
}

/* Welcome Styling */

.welcomeForm {
  height: 200px;
  width: 500px;
}

.welcomeText {
  height: 200px;
  width: 500px;
  padding: 10px;
  resize: none;
  overflow: auto;
}

.welcomeInput {
  width: 500px;
}